{% extends "base.html" %}

{% block title %}
Personal creature list
{% endblock %}

{% block content %}
  <h1>Your monsters</h1>

  <p>
    <a href="{{base_path}}/generatecreature" class="btn btn-success">Generate monster</a>
  </p>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Owner</th>
        <th>Race</th>
        <th>Class</th>
        <th>Level</th>
        <th></th>
      </tr>
    </thead>

    <tbody>

    {% for creature in creatures %}

      <tr>
        <td><a href="{{base_path}}/showcreature/{{creature.id}}">{{creature.name}}</a></td>
        <td>{{creature.owner}}</td>
        <td>{{creature.race}}</td>
        <td>{{creature.creatureClass}}</td>
        <td>{{creature.level}}</td>
        <th><a class="btn btn-default btn-sm" href="{{base_path}}/editcreature">Edit</a></th>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}