{% extends "base.html" %}

{% block title %}
Examine a creature
{% endblock %}

{% block content %}

<h1>{{creature.name}}</h1>
<!--Nappi-->
<p><a href="{{base_path}}/listcreature" class="btn btn-danger">Delete</a> <a href="{{base_path}}/editcreature" class="btn btn-success">Edit</a></p>
<!-- Otsikot -->

<div><div style="float: left;">
  <h3>Name</h3>
  <p><a href="{{base_path}}/{{creature.id}}">{{creature.name}}</a></p>

  <h3>Race</h3>
  <p>{{creature.race}}</p>

  <h3>Class</h3>
  <p>{{creature.creatureClass}}</p>

  <h3>Inventory</h3>
  <p>Miekka</p>
  <p>Lapio</p>
  <p>Vasara</p>
</div>

<div><div style="float: right;">
  <h3>Level</h3>
  <p>1</p>

  <h3>Hitpoints</h3>
  <p>10</p>
  <h3>Strength</h3>
  <p>10</p>
  <h3>Dexterity</h3>
  <p>10</p>
  <h3>Constitution</h3>
  <p>10</p>
  <h3>Intelligence</h3>
  <p>10</p>
  <h3>Wisdom</h3>
  <p>10</p>
  <h3>Charisma</h3>
  <p>10</p>
</div>


{% endblock %}