{% extends "base.html" %}

{% block title %}
Examine a creature
{% endblock %}

{% block content %}

<!--Nappi-->

<div class="form-group">

 <a href="{{base_path}}/editcreature/{{creature.id}}" class="btn btn-success">Edit creature</a>
</div>
<div>
 <form method="post" action="{{base_path}}/showcreature/{{creature.id}}" class="destroy-form" data-confirm="Are you sure?">
  <button type="submit" class="btn btn-danger">Delete</a>
  </form>
</div>
<!-- Otsikot -->
<h1>{{creature.name}}</h1>
{% if message %}
<br>
<div class="alert alert-success">
  {{message}}
</div>
{% endif %}

<div><div style="float: left;">
  <h3>Name</h3>
  <p>{{creature.name}}</p>

  <h3>Race</h3>
  <p>{{creature.race}}</p>

  <h3>Class</h3>
  <p>{{creature.creatureClass}}</p>


  <h3>Inventory</h3>
  {% if inventories%}
  <div class="form-group">
    <select class="form-control" name="inventory">
      {% for item in inventories%}

      <option>{{item.name}} : {{item.description}} : {{item.minDamage}} : {{item.maxDamage}}</option>

      {% endfor %}
    </select>
    {% endif %}
    <br>
    <a href="{{base_path}}/editcreature/{{creature.id}}/inventory" class="btn btn-success">Edit inventory</a>
  </div>
  </div>

<div><div style="float: right;">
  <h3>Level</h3>
  <p>{{creature.level}}</p>

  <h3>Hitpoints</h3>
  <p>{{creature.hitpoints}}</p>
  <h3>Strength</h3>
  <p>{{creature.strength}}</p>
  <h3>Dexterity</h3>
  <p>{{creature.dexterity}}</p>
  <h3>Constitution</h3>
  <p>{{creature.constitution}}</p>
  <h3>Intelligence</h3>
  <p>{{creature.intelligence}}</p>
  <h3>Wisdom</h3>
  <p>{{creature.wisdom}}</p>
  <h3>Charisma</h3>
  <p>{{creature.charisma}}</p>
</div>


{% endblock %}