{% extends "base.html" %}

{% block title %}
Edit a Game Master
{% endblock %}

{% block content %}
<h1>Edit: {{gamemaster.name}}</h1>

<form method="post" action="{{base_path}}/showgm/{{gamemaster.id}}">
	<div class="checkbox">
		<label>
			<input type="checkbox">
			Moderator
		</label>
	</div>
	<div class="form-group">
		<label>Name</label>
		<input type="text" class="form-control" name="name" value="{{gamemaster.name}}">
	</div>
	<div class="form-group">
		<label>Password</label>
		<input type="password" class="form-control" name="password" value="{{gamemaster.password}}">
	</div>

	<br>

	<div class="form-group">
		<button type="submit" class="btn btn-success">Save</button>
	</div>
</form>
<form method="post" action="{{base_path}}/showgm/{{gamemaster.id}}/delete">
	<div class="form-group">
		<button type="submit" class="btn btn-danger">Delete</button>
	</div>
</form>


{% endblock %}