{% extends "base.html" %}

{% block title %}
Game Master List
{% endblock %}

{% block content %}
<h1>Game Masters</h1>

  <p>
    <a href="{{base_path}}/generategm" class="btn btn-success">Add a GM</a>
  </p>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Moderator</th>
      <th>Edit</th>
    </tr>
  </thead>
  <tbody>
    {% for gamemaster in gamemasters %}

      <tr>
        <td><a href="{{base_path}}/showgm/{{gamemaster.id}}">{{gamemaster.name}}</a></td>
        <td>{{gamemaster.moderator}}</td>
        <th><a class="btn btn-default btn-sm" href="{{base_path}}/editgm/{{gamemaster.id}}">Edit</a></th>
      </tr>
      {% endfor %}
  </tbody>
</table>





{% endblock %}