{% extends "base.html" %}

{% block title %}
Personal creature list
{% endblock %}

{% block content %}
  <h1>Your monsters</h1>

  <p>
    <a href="#" class="btn btn-success">Generate monster</a>
  </p>

  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th>Name</th>
        <th>Race</th>
        <th>Class</th>
        <th>Level</th>
        <th>Weapon</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <!-- Listataan hahmot tähän -->
      <tr>
        <td><a href="#">Maija</a></td>
        <td>Jättiläinen</td>
        <td>Ritari</td>
        <td>1</td>
        <td>Miekka</td>
        <th><a class="btn btn-default btn-sm" href="#">Edit</a></th>
      </tr>

      <tr>
        <td><a href="#">Martti</a></td>
        <td>Ihminen</td>
        <td>Seppä</td>
        <td>1</td>
        <td>Vasara</td>
        <th><a class="btn btn-default btn-sm" href="#">Edit</a></th>
      </tr>

    </tbody>
  </table>
{% endblock %}