{% extends "base.html" %}

{% block title %}
Edit a monster
{% endblock %}

{% block content %}
<h1>Edit: Maija/h1>

  <form>
    <div class="checkbox">
      <label>
        <input type="checkbox">
        Dead
      </label>
    </div>
    <div class="form-group">
      <label>Name</label>
      <input type="text" class="form-control" value="Maija">
    </div>
    <div class="form-group">
      <label>Race</label>
      <input type="text" class="form-control" value="Jättiläinen">
    </div>
    <div class="form-group">
      <label>Class</label>
      <input type="text" class="form-control" value="Ritari">
    </div>
    <div class="form-group">
      <label>Level</label>
      <input type="text" class="form-control" value="1">
    </div>
    <div class="form-group">
      <label>Weapon</label>
      <input type="text" class="form-control" value="Miekka">
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </form>


<form action="action_page.php">
  Hit points (between 0 and 20):
  <input type="number" name="quantity" min="0" max="20">
  <input type="Set hitpoints">
</form>

  {% endblock %}