{% extends "base.html" %}

{% block title %}
Edit a monster
{% endblock %}

{% block content %}
<h1>Edit: Maija</h1>

<form>
  <div class="checkbox">
    <label>
      <input type="checkbox">
      Dead
    </label>
  </div>
  <div class="form-group">
    <label>Name</label>
    <input type="text" class="form-control" value="Maija">
  </div>
  <div class="form-group">
    <label>Race</label>
    <input type="text" class="form-control" value="Jättiläinen">
  </div>
  <div class="form-group">
    <label>Class</label>
    <input type="text" class="form-control" value="Ritari">
  </div>
  <div class="form-group">
    <label>Inventory</label>
    <input type="text" class="form-control" value="Miekka">
    <input type="text" class="form-control" value="Lapio">
    <input type="text" class="form-control" value="Vasara">
  </div>

  <div>
    <label style="white-space: pre">Level                 (between 1 and 100):</label>
    <br>
    <input type="number" name="quantity" min="1" max="100">
  </div>

  <div>
    <br>
    <label style="white-space: pre">Hit points          (between -50 and 100):</label>
    <br>
    <input type="number" name="quantity" min="-50" max="100">
  </div>

  <div>
    <br>
    <label style="white-space: pre">Strength            (between 0 and 100):</label>
    <br>
    <input type="number" name="quantity" min="0" max="100">
  </div>
  <div>
    <br>
    <label style="white-space: pre">Dexterity            (between 0 and 100):</label>
    <br>
    <input type="number" name="quantity" min="0" max="100">
  </div>
  <div>
    <br>
    <label style="white-space: pre">Constitution      (between 0 and 100):</label>
    <br>
    <input type="number" name="quantity" min="0" max="100">
  </div>
  <div>
    <br>
    <label style="white-space: pre">Intelligence       (between 0 and 100):</label>
    <br>
    <input type="number" name="quantity" min="0" max="100">
  </div>
  <div>
    <br>
    <label style="white-space: pre">Wisdom             (between 0 and 100):</label>
    <br>
    <input type="number" name="quantity" min="0" max="100">
  </div>
  <div>
    <br>
    <label style="white-space: pre">Charisma          (between 0 and 100):</label>
    <br>
    <input type="number" name="quantity" min="0" max="100">
  </div>

  <br>

  <div class="form-group">
  <a href="listcreature" class="btn btn-success">Save</a>
    <a href="listcreature" class="btn btn-danger">Delete</a>
  </div>
</form>




{% endblock %}