{% extends "base.html" %}

{% block title %}
Webmonster Login
{% endblock %}

{% block content %}
<h1>Log in</h1>

<!-- Kaikki lomakkeen elementit form-tagin sisään -->
<form>
  <!-- Tekstikenttä käyttäjätunnukselle -->
  <div class="form-group">
    <label>Username</label>
    <input type="text" class="form-control">
  </div>

  <!-- Salasanakenttä salasanalle -->
  <div class="form-group">
    <label>password</label>
    <input type="password" class="form-control">
  </div>

  <div class="form-group">
    <a href="listcreature" class="btn btn-success">Save</a>
  </div>
</form>
{% endblock %}