{% extends "base.html" %}

{% block title %}
Examine a monster
{% endblock %}

{% block content %}
<h1>Maija</h1>
<!--Nappi-->
<p><button class="btn btn-danger">Delete</button> <a href="edit" class="btn btn-default">Edit</a></p>
<!-- Otsikot -->

<div><div style="float: left;">
  <h3>Name</h3>
  <p>Maija</p>

  <h3>Race</h3>
  <p>Jättiläinen</p>

  <h3>Class</h3>
  <p>Ritari</p>

  <h3>Inventory</h3>
  <p>Miekka</p>
  <p>Lapio</p>
  <p>Vasara</p>
</div>

<div><div style="float: right;">
  <h3>Level</h3>
  <p>1</p>

  <h3>Hitpoints</h3>
  <p>10</p>
  <h3>Strength</h3>
  <p>10</p>
  <h3>Dexterity</h3>
  <p>10</p>
  <h3>Constitution</h3>
  <p>10</p>
  <h3>Intelligence</h3>
  <p>10</p>
  <h3>Wisdom</h3>
  <p>10</p>
  <h3>Charisma</h3>
  <p>10</p>
</div>


{% endblock %}