			{% extends "base.html" %}

			{% block title %}
			Sitemap
			{% endblock %}

			{% block content %}

			<h1>Pages seen depend on user status</h1>

			{% if gamemaster_logged_in == null %}
			<div class="form-group">	
				<h3>Open pages</h3>
				<a href="{{base_path}}/sitemap" class="btn btn-success">Sitemap</a>
				<a href="{{base_path}}" class="btn btn-success">Login</a>
				<a href="{{base_path}}/generategm" class="btn btn-success">Register</a>
			</div>
			{% endif %}
			{% if gamemaster_logged_in %}
			<div class="form-group">
				<h3>Game Master login required</h3>
				<a href="{{base_path}}/generatecreature" class="btn btn-success">Generate creature</a>
				<a href="{{base_path}}/listcreature" class="btn btn-success">List Creatures</a>
			</div>
			{% endif %}
			{% if moderator%}
			<div class="form-group">
				<h3>Moderator login required</h3>
				<a href="{{base_path}}/listgm" class="btn btn-success">List GM</a>
			</div>
			{% endif %}

			{% endblock %}