			{% extends "base.html" %}

			{% block title %}
			Sitemap
			{% endblock %}

			{% block content %}

			<h1>Page under construction, pages are static and no login required</h1>

			<div class="form-group">	
				<h3>Open pages</h3>
				<a href="{{base_path}}/sitemap" class="btn btn-success">Sitemap</a>
				<a href="{{base_path}}" class="btn btn-success">Login</a>
			</div>
			<div class="form-group">
				<h3>Game Master login required</h3>
				<a href="{{base_path}}/generatecreature" class="btn btn-success">Generate creature</a>
				<a href="{{base_path}}/editcreature" class="btn btn-success">Edit creature</a>
				<a href="{{base_path}}/showcreature" class="btn btn-success">Show Creature</a>
				<a href="{{base_path}}/listcreature" class="btn btn-success">List Creatures</a>
			</div>
			<div class="form-group">
				<h3>Moderator login required</h3>
				<a href="{{base_path}}/generategm" class="btn btn-success">Generate GM</a>
				<a href="{{base_path}}/editgm" class="btn btn-success">Edit GM</a>
				<a href="{{base_path}}/showgm" class="btn btn-success">Show GM</a>
				<a href="{{base_path}}/listgm" class="btn btn-success">List GM</a>
			</div>

			{% endblock %}